
applications/speech-analytics/ds-linx-a60766b872ae.json
applications/rpa/concursos/radar-oportunidades.cmd
applications/rpa/.ipynb_checkpoints/concursos-checkpoint.ipynb
applications/rpa/concursos/.vs/concursos/v15/.suo
applications/scapping/concursos/radar-oportunidades.cmd
applications/scraping/concursos/radar-oportunidades.cmd
applications/scraping/concursos.ipynb
applications/scraping/.ipynb_checkpoints/concursos-checkpoint.ipynb
applications/face-recognition/library/facenet/models/20180402-114759/20180402-114759.pb
applications/face-recognition/library/facenet/models/20180402-114759/desktop.ini
applications/face-recognition/library/facenet/models/20180402-114759/model-20180402-114759.ckpt-275.data-00000-of-00001
applications/face-recognition/library/facenet/models/20180402-114759/model-20180402-114759.ckpt-275.index
applications/face-recognition/library/facenet/models/20180402-114759/model-20180402-114759.meta
